<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2>${s}$</h2>
    <noscript>
        <p>your browser doesnt support javascript. you will need to manually put your input into the url</p>
        <p>example: http://example.com/foo/bar  -&gt;  http://example.com/foo/bar?your_input_here</p>
    </noscript>
    <span>
        <input type="text" id="t">
        <button id="b">submit</button>
    </span>
    <script>
        function fn() {
            document.location.search = document.getElementById("t").value;
        }
        document.getElementById("b").onclick = fn;
        document.getElementById("t").onkeydown = e => {
            if (e.key !== "Enter") return;
            fn();
        };
    </script>
</body>
